<div class="row">

    <div *ngFor="let libro of libros" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a><img class="card-img-top" src="https://p.kindpng.com/picc/s/50-505580_top-83-books-clip-art-transparent-background-books.png" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a (click)="producto(libro.product_name) ">{{libro.product_name}}</a>
                </h4>
                <h5>{{libro.unit_price}} $</h5>
                <p class="card-text">{{libro.product_description}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{libro.author}}</small>
            </div>
        </div>
    </div>


</div>
<!-- /.row -->